.container {
   /*margin-top: 5%;*/
   height: auto;
}

.my-container2 {
   transition: 0.4s;
}

form {
   padding-left: 5%;
}

.active-cont {
   margin-left: 300px;
}

.button {
   padding-top: 50px;
}

h5 {
   margin-left: 0px;
   padding-left: 0px;
}
